<h1 class="page-header">ivy-redactor</h1>
{{ivy-redactor value=value}}

<div class="row">
  <div class="col-sm-6">
    <h3>Rendered HTML</h3>
    {{{value}}}
  </div>
  <div class="col-sm-6">
    <h3>Escaped HTML</h3>
    <pre>{{value}}</pre>
  </div>
</div>
